div
block content
    div
        p: a(href='/logout') Logout
        p
            | Welcome to our dum site,&nbsp
            b #{username}
            | !
    div#leftcol
        h2 #{username} private space
        p Nothing to see here. Yet.

    div#rightcol
        h3 Change my password
        form(action='/change-pass', method='post')
            - if(!undefinedPassword){
            div
                label(for='oldPassword') Old password:
                input(type='password', name='oldPassword', autocomplete='off')
            - }else{
            div
                span(color=grey): i Currently no password is defined
            - }
            div
                label(for='newPassword') New password:
                input(type='password', name='newPassword', autocomplete='off')
            div
                input(type='submit', value='Change password')