div#rightcol
    h3 Sign up
    form(action='/signup', method='post')
        div
            label(for='newUsername') Username:
            input(type='text', name='newUsername', autocomplete='off')
        div
            label(for='newPassword') Password:
            input(type='password', name='newPassword', autocomplete='off')
        div
            input(type='submit', value='Sign up')