div#rightcol
    h3 Sign up
    form(action='/signup', method='post')
        div
            label(for='new_username') Username:
            input(type='text', name='new_username', autocomplete='off')
        div
            label(for='new_password') Password:
            input(type='password', name='new_password', autocomplete='off')
        div
            input(type='submit', value='Sign up')